.details{
    margin-top:7%;
    display:flex;
    margin-left:20%;
    
}

.details img{
   width: 30%;
   margin-left:5%;
   border-radius:10px;
    
}

.title-business{
    text-align : center;
    margin-top: 9%;
    margin-bottom: -3%;
    
    
}



.prices{
    display:flex;
    

}

.hueco-price{
    margin-left:2%;
}

.description-details{
    width:50%;
}
/* .details h2{
    text-align: center;
}

.details {
    display:flex;
  
} */

.details-business{
    margin-left: 5%;
    
}

.available-huecos ul{
    display:flex;
    margin-left:-4%;
    margin-right:-3%;
    
}

.hueco-link {
   
    margin-right:3%;
    
    
}



.bleu-btn{
    color:rgb(24, 144, 255);
  font-weight: bolder;
}