.b-card{
    
display:flex;
flex-direction:row;
    
}

.b-card  .list-card{
    
    display:flex;
    flex-direction:row;
        
    }

div.map{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.business-card{
    margin-left:35%;
   
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 120%;
    display: flex;
    flex-direction: row;
    margin-bottom: 8%;
    border-radius:10px;
    margin-left:10%;
    
  
  }

  .card p h4{
      display: flex;
      justify-content: center;
     
  }

  .card p {
    margin-top:2%;
    margin-left:5px;
    /* margin-left: 1%; */
}
  .card h4 {
  width : 100%;
  margin-left:5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card img{
      /* border-radius: 10px   ; */
      border-top-left-radius:10px;
      border-bottom-left-radius:10px;
  }
  
 /* .container{
    padding: 2px 16px;
 } */

