.huecos{

    margin-top:5%;
}

.add-hueco{
    margin-top:5%;
    text-align:center;
}

.add-hueco Button{
    margin-top:2%;
    
}

.add-hueco Button Link{
    margin-top:2%;
   
    
}

.link-hueco{
    color:white;
}