.marker-btn {
    background:none;
    border:none;
    width: 5px;
    height: 5px;
    cursor: pointer;
  }
  
  .marker-btn img {
    
    width: 25px;
    height: 25px;
  }
  
  
  .popup {
    width:50%;
    height:25;
    }
  
  .popup img{
  width:100%;
  height:100%;
  }
  
  .current-location{
  position:absolute right 0;
  background:none;
  border:none;
  
  }
  
  .NavigationControl{
   position:absolute;
  right:1%;
  margin-top:7%;
  }
  
  .GeolocateControl{
    position:absolute;
  right:1%;
  margin-top:1%;
  }
  