
@import '~antd/dist/antd.css';

html, body {
  margin: 0 auto;
  padding: 0 auto;
 
}



nav.navbar { 
  display: flex;
  padding: 0px 20px;
  background: #686de0; 
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  background-color:rgb(1, 21, 41);
  color: white;
  text-align: center;
}

.footer p{
  /* margin-top:1%; */
  margin-bottom:2px;
}

